.control {
    --knob-size: 80px;
    position: relative;
    user-select: none;
    position: relative;
    border-radius: 50px;
    cursor: grab;
    transition: transform 50ms;

    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--knob-size) - 4px);
    width: calc(var(--knob-size) - 4px);

    & > svg.base {
        transform: rotate(-140deg);
        display: block;
        height: var(--knob-size);
        width: var(--knob-size);
        position: absolute;
        transform-origin: center;
    }
    & > img:nth-child(2) {
        display: block;
        height: calc(var(--knob-size) - 12px);
        width: calc(var(--knob-size) - 12px);
        position: absolute;
        border-radius: 50%;
        box-shadow: 0px 0.5px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .control-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-140deg);
        position: relative;
        border-radius: 50%;
        height: var(--knob-size);
        width: var(--knob-size);
        transform-origin: center;
        &::after {
            content: "";
            position: absolute;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
            background: var(--primary);
            height: 10px;
            width: 10px;
            border-radius: 50px;
            top: 9px;
            z-index: 20;
        }
    }

    &.small {
        --knob-size: 60px;
        svg.base {
            circle {
                stroke-dasharray: none;
            }
        }

        .control-arrow::after {
            top: 9px;
        }
    }
}

.turn-knob-shadow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.3), 0px 12px 8px rgba(0, 0, 0, 0.3);
}

svg.track {
    transform: rotate(-230deg);
    transform-origin: center;
}

:host {
    background: white;
    border-radius: 50%;
    padding: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0.5px 1px 1px rgba(0, 0, 0, 0.15) inset;
    .turn-knob-shadow-container {
        position: absolute;
    }

    svg {
        color: var(--primary);
    }
}
