<div [ngClass]="{'small': isSmall}" class="container">
    <svg class='track' [ngStyle]="{'display': isSmall ? 'none' : 'block'}" #trackEl width="140" height="140" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle stroke-dasharray="" stroke-width="6" stroke="#f4f4f4" fill="transparent" r="62" cx="70" cy="70" />
        <circle stroke-dasharray="" stroke-width="6" stroke="currentColor" fill="transparent" r="62" cx="70" cy="70" />
        <circle stroke-dasharray="" stroke-width="10" stroke-dasharray="302.836, 302.836" stroke-dashoffset="302.836"
            stroke="white" fill="transparent" r="62" cx="70" cy="70" />
    </svg>

    <svg class='track' [ngStyle]="{'display': !isSmall ? 'none' : 'block'}" #trackElSmall width="106" height="106"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle stroke-dasharray="" stroke-width="6" stroke="#f4f4f4" fill="transparent" r="45" cx="53" cy="53" />
        <circle stroke-dasharray="" stroke-width="6" stroke="currentColor" fill="transparent" r="45" cx="53" cy="53" />
        <circle stroke-dasharray="" stroke-width="10" stroke-dasharray="219.8, 219.8" stroke-dashoffset="219.8"
            stroke="white" fill="transparent" r="45" cx="53" cy="53" />
    </svg>

    <div class="turn-knob-shadow-container">
        <div class="control" vdTurnKnob [initValue]="convertInitToPercent()" (change)="onChange($event)"
            [isSmall]="isSmall" [track]="isSmall ? trackElSmall: trackEl">
            <svg class="base" width="42" height="42" viewBox="0 0 42 42" fill="transparent"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="21" cy="21" r="18" fill="#C4C4C4" stroke="#C4C4C4" stroke-width='6' stroke-linecap="round"
                    stroke-linejoin="round" stroke-dasharray="4 4" />
            </svg>
            <img draggable="false" src="../../../assets/materials/brushed_metal_circular.png" />
            <div class="control-arrow"></div>
        </div>
    </div>
</div>