<div class="button" [ngClass]="{'checked': checked}" (click)="toggleCheck()">
    <div class="checked-indicator-container">
        <svg class="checked-indicator off" width="12" height="12" viewBox="0 0 12 12" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M10 6.33013L2.5 10.6603L2.5 2L10 6.33013Z" fill="url(#paint0_radial)" />
            <path d="M2.6 2.1732L9.8 6.33013L2.6 10.487L2.6 2.1732Z" stroke="black" stroke-opacity="0.1"
                stroke-width="0.2" />
            <defs>
                <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(6 6.33014) rotate(-147.995) scale(9.43398)">
                    <stop stop-color="#9F9F9F" />
                    <stop offset="1" stop-color="#9F9F9F" stop-opacity="0" />
                </radialGradient>
            </defs>
        </svg>
        <svg class="checked-indicator on" width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 6.33013L2.5 10.6603L2.5 2L10 6.33013Z" fill="currentColor" strokeWidth="0.5" />
        </svg>



    </div>
</div>