:host {
    background: radial-gradient(56.75% 100.89% at 50% 50%, #ffffff 0%, #d7d7d7 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    overflow: hidden;
    flex-direction: column;

    & > * {
        margin-bottom: 24px;
    }
}
