:host {
    background: radial-gradient(56.75% 100.89% at 50% 50%, #ffffff 0%, #d7d7d7 100%);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 50vh;
    overflow: hidden;
    flex-direction: column;

    & > * {
        margin-bottom: 24px;
    }
}

.control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    vd-control-label {
        margin-bottom: 8px;
    }
}

.control-layout {
    display: flex;
    align-items: center;
    justify-content: center;

    & > .control-container {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}
