<vd-display [config]="{trackName: 'Blue Moon', analyserNode:analyserNode}"></vd-display>
<br />
<div class="control-layout">
    <div class="control-container">
        <vd-control-label label="Volume"></vd-control-label>
        <vd-turn-knob></vd-turn-knob>
    </div>
    <div class="control-container">
        <vd-control-label label="Volume"></vd-control-label>
        <vd-turn-knob></vd-turn-knob>
    </div>
</div>
<div class="control-layout">
    <div class="control-container">
        <vd-control-label label="Gain"></vd-control-label>
        <vd-fader></vd-fader>
    </div>
    <div class="control-container">
        <vd-control-label label="Gain"></vd-control-label>
        <vd-fader></vd-fader>
    </div>
</div>