:host {
    background: radial-gradient(56.75% 100.89% at 50% 50%, #ffffff 0%, #d7d7d7 100%);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: 600px;
    width: 960px;
    overflow: hidden;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .model-name {
        justify-self: center;
        height: 80px;
        display: flex;
        flex-direction: column;
        font-family: "Akronim", sans-serif;
        font-size: 84px;
        color: var(--primary);
        line-height: 100%;
        text-align: right;
        p {
            font-family: "Aldrich", sans-serif;
            font-size: 20px;
            margin: 0;
            margin-top: -36px;
        }
    }
}

.control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    vd-control-label {
        margin-bottom: 5px;
    }
}

.control-layout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .control-container {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.base-plate-border {
    z-index: 0;
    position: absolute;
    width: calc(100% - 32px);
    margin: 0;
}

.radio-group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    .radio {
        display: flex;
        flex-direction: column;
        justify-self: center;
        vd-control-label {
            margin: auto;
            margin-bottom: 6px;
        }
    }
}

.control-layout.resolution-beat {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .control-layout-boundary {
        top: 0px;
        display: block;
        position: absolute;
        height: 100%;
        width: calc(100% - 45px);
    }

    .control-container {
        margin: 0;
        margin-bottom: 12px;
    }
}

.gain-effects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    vd-touch-select {
        margin-bottom: 20px;
    }
}

.left-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    .radio-group {
        margin-bottom: 16px;
    }

    .control-layout {
        flex: 2;
    }
}

.main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 48px repeat(11, 1fr) 24px;
    grid-template-rows: 24px repeat(10, 1fr) 48px;

    .top-section {
        grid-column: 2 / span 7;
        grid-row: 2 / span 2;
        justify-self: flex-end;
        width: 100%;
        padding-right: 20px;
        vd-display {
            justify-self: flex-end;
        }
    }

    .control-layout.resolution-beat {
        height: 100%;
        width: 100%;
        grid-row: 1 / span 12;
        grid-column: 9 / span 4;
        align-content: center;
    }

    .gain-effects {
        padding-left: 26px;
        grid-row: 4 / span 8;
        grid-column: 6 / span 3;
        justify-content: flex-end;
    }

    .left-section {
        padding-top: 34px;
        padding-left: 12px;
        grid-row: 4 / span 8;
        grid-column: 2 / span 4;
    }
}
