:host {
    background: radial-gradient(56.75% 100.89% at 50% 50%, #ffffff 0%, #d7d7d7 100%);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: 720px;
    width: 954px;
    overflow: hidden;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 52px;

    .model-name {
        justify-self: center;
        height: 80px;
        display: flex;
        flex-direction: column;
        font-family: "Akronim", sans-serif;
        font-size: 84px;
        color: var(--primary);
        line-height: 100%;
        text-align: right;
        p {
            font-family: "Aldrich", sans-serif;
            font-size: 20px;
            margin: 0;
            margin-top: -36px;
        }
    }
    position: absolute;
    top: 24px;
    left: 24px;
}
.control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    vd-control-label {
        margin-bottom: 8px;
    }
}

.control-layout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .control-container {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.base-plate-border {
    z-index: 0;
    position: absolute;
    height: calc(100% - 48px);
    margin: 0;
}

.radio-group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    .radio {
        display: flex;
        flex-direction: column;
        justify-self: center;
        vd-control-label {
            margin: auto;
            margin-bottom: 8px;
        }
    }
}

.control-layout.resolution-beat {
    position: absolute;
    width: 224px;
    top: 24px;
    right: 28px;
    padding: 24px;
    padding-top: 42px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    .control-layout-boundary {
        top: 0px;
        display: block;
        position: absolute;
        height: 100%;
        width: calc(100% - 48px);
    }

    .control-container {
        margin: 0;
        margin-bottom: 12px;
    }
}

.main-area {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 48px repeat(4, 1fr);
    grid-template-rows: 140px repeat(5, 1fr);
    row-gap: 24px;

    grid-template-areas:
        "o a a a a"
        "o x x wave b"
        "o samples  c c c"
        "o d d d d"
        "o e e e e"
        "o f f f f";

    .control-layout.attack-release {
        grid-area: x;
        justify-self: flex-start;
    }
    .control-container.wave-selector {
        z-index: 10;
        position: relative;
        grid-area: wave;
    }
    .radio-group {
        grid-area: samples;
        align-self: center;
        justify-self: center;
        padding-left: 28px;
    }
}
