.control {
    position: relative;
    transform-origin: 50% 30px;
    transition: transform 50ms;

    svg {
        padding-top: 42px;
        cursor: grab;
    }

    .knob-slit {
        cursor: grab;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 28px;
        height: 6px;
        background: var(--primary);
        position: absolute;
        box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.9) inset, 0 2px 0 rgba($color: #000000, $alpha: 0.2) inset;
    }
}

:host {
    --fader-padding: 32px;
    position: relative;
    padding: var(--fader-padding) 0;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;

    box-shadow: 0px 0.5px 1px 1px rgba(0, 0, 0, 0.15) inset;
    border-radius: 4px;

    .knob-track {
        position: absolute;
        height: calc(100% - var(--fader-padding) * 2);
        width: 5px;
        border-radius: 4px;
        background: rgba($color: #000000, $alpha: 0.6);
    }
}
