<div class="knob-track"></div>
<div class="control" vdFader [initValue]="convertInitTo120()" (change)=" onChange($event)">
    <svg width="80" height="103" viewBox="0 0 80 103" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_ddd)">
            <path
                d="M24.2041 13.5804C23.6383 11.0172 25.5711 8.52942 28.196 8.52942H51.804C54.4289 8.52942 56.3617 11.0172 55.7959 13.5804C54.7159 18.4736 53.3 25.9521 53.3 31.5294C53.3 37.1067 54.7159 44.5852 55.7959 49.4784C56.3617 52.0416 54.4289 54.5294 51.804 54.5294H28.196C25.5711 54.5294 23.6383 52.0416 24.2041 49.4784C25.2841 44.5852 26.7 37.1067 26.7 31.5294C26.7 25.9521 25.2841 18.4736 24.2041 13.5804Z"
                fill="url(#paint0_linear)" />
        </g>
        <defs>
            <filter id="filter0_ddd" x="0.105469" y="0.529419" width="79.7896" height="102" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="6" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="24" />
                <feGaussianBlur stdDeviation="12" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="10.2" />
                <feGaussianBlur stdDeviation="3.4" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.23 0" />
                <feBlend mode="normal" in2="effect2_dropShadow" result="effect3_dropShadow" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow" result="shape" />
            </filter>
            <linearGradient id="paint0_linear" x1="40" y1="8.52942" x2="40" y2="54.5294" gradientUnits="userSpaceOnUse">
                <stop stop-color="#BDBDBD" />
                <stop offset="0.427083" stop-color="#D2D2D2" />
                <stop offset="0.854167" stop-color="#E8E8E8" />
            </linearGradient>
        </defs>
    </svg>
    <div class="knob-slit"></div>
</div>